{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Inicio


{% endblock %}



{% block body %}
	{# <div class="count">
		{{ pagination.getTotalItemCount }}
	</div> #}

    {{ parent }}
	{{ parent() }}
    {# {{ dump(post) }} #}
	{# {{ dump(pagination) }} #}

    <div class="container mt-5">
        {% for post in pagination %}
            <div class="rounded bg-light row">
                <div class="col-md-8">
                <h2 class="text-center">{{post.titulo}}</h2>
                <strong>Creado por:{{post.nombre}}</strong><br />
                <small>Fecha de publicación:{{ post.fecha_publicacion | date }}</small>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quod
                    at accusamus saepe facilis fuga dolorem libero sapiente nesciunt
                    velit ipsam est illum id a laudantium cumque, dicta reprehenderit
                    culpa.
                </p>
                </div>
                <div class="col-md-4">
                <img
                    src="{{ asset('uploads/brochures/'~post.foto) }}"
                    class="img-thumbnail"
                    alt="..."
                />
                </div>
            </div>

            {% if app.user %}
            
                <button class="btn btn-primary" onclick="window.location.href='{{ path('showPost',{id:post.id}) }}'">
                    Ver Post
                </button>

                {% else %}
                    <button class="btn btn-primary" disabled onclick="window.location.href='{{ path('showPost',{id:post.id}) }}'">
                        Ver Post
                    </button>
                                
            {% endif %}
            
        {% endfor %}
    </div>
    
		<div class="d-flex justify-content-center">
			<div class="navigation">{{ knp_pagination_render(pagination) }}</div>
		</div>
	</div>
{% endblock %}
